<a href="https://colab.research.google.com/github/Elkin2234513/Serie_for_google_colab/blob/main/SERIES_FOR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series usando For

In [ ]:
# serie 1: 1 ,2, 3, 4, 5, 6, 7, 8, 9, 10

print("------------------")
print("------serie 1-----")
print("------------------")

s = "serie: "
for i in range(1,11):
  s = s + str (i) + ", "
print(s)

In [ ]:
# serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81, 100

print("------------------")
print("------serie 2-----")
print("------------------")

s = "serie: {"
for i in range(1,11):
  if i != 10:                         #ese if es para quitar la coma final
    s = s + str (i**2) + ", "
  else:
    s = s + str(i ** 2)
s = s + "}"
print(s)

In [ ]:
# serie 3: 2, 4, 8, 16, 32, 64......

print("------------------")
print("------serie 3-----")
print("------------------")

s = "serie: {"
for i in range(1,11,):
  if i != 10:                         
    s = s + str (2**i) + ", "
  else:
    s = s + str(2**i)
s = s + "}"
print(s)

In [ ]:
# serie 4: 2, 6, 12, 20, 30, 42, 56 ...

print("------------------")
print("------serie 4-----")
print("------------------")

s = "serie: {"
for i in range(1,11):
  if i != 10:                         
    s = s + str (i**2+i) + ", "
  else:
    s = s + str(i**2+i)
s = s + "}"
print(s)